<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="contexte" class="fr.upyourbizz.aspiration.composants.Contexte" />
	<bean id="navigation" class="fr.upyourbizz.aspiration.composants.Navigation" />
	<bean id="utils" class="fr.upyourbizz.utils.Utils">
		<property name="contexte" ref="contexte" />
	</bean>
	<bean id="parser" class="fr.upyourbizz.aspiration.magento.Parser">
		<property name="navigation" ref="navigation" />
		<property name="contexte" ref="contexte" />
		<property name="utils" ref="utils" />
	</bean>
</beans>