<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="contexte" class="fr.upyourbizz.core.Contexte" />
	<bean id="navigation" class="fr.upyourbizz.core.Navigation" />
	<bean id="reader" class="fr.upyourbizz.utils.Reader">
		<property name="contexte" ref="contexte" />
	</bean>
	<bean id="parser" class="fr.upyourbizz.parsing.magento.Parser">
		<property name="navigation" ref="navigation" />
		<property name="contexte" ref="contexte" />
		<property name="reader" ref="reader" />
	</bean>
		<bean id="pharmacieParser" class="fr.upyourbizz.parsing.pharmacie.PharmacieParser">
		<property name="navigation" ref="navigation" />
		<property name="contexte" ref="contexte" />
		<property name="reader" ref="reader" />
	</bean>
</beans>